xcuserdata
.DS_Store
upload_dsym_results
/DerivedData
/appium/build
/appium/node_modules
/appium/test-results.xml
/node_modules
/Pods
/fastlane/.env
/fastlane/report.xml
/fastlane/test_output
*.xcodeproj/xcshareddata/xcbaselines/*
.tup_secrets
/ApolloCodegen/ApolloCLI
/ApolloCodegen/DerivedData
/ApolloCodegen/.build
/ApolloCodegen/.swiftpm
/Packages_cache
.vscode
buildServer.json
iOS-Boutique/.vscode/settings.json
.vscode
.vscode/settings.json
